SENDGRID_API_KEY=
DATABASE_URL=
EMAIL_FROM=sadiq@mindcolony.tech
JWT_SECRET=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER=kyc-documents
AZURE_KEY_VAULT_URI=https://ev-wallet-kv.vault.azure.net/
KV_WRAP_KEY_NAME=ev-wrap-key
HEDERA_OPERATOR_ID=0.0.6968947
HEDERA_OPERATOR_KEY=
HEDERA_OPERATOR_KEY_EVM=
HCS_TOPIC_ID=0.0.6999610
HEDERA_VUSD_TOKEN_ID=0.0.7029847
HEDERA_VUSD_EVM_ADDRESS=0x00000000000000000000000000000000006b4457
HEDERA_USDC_TOKEN_ID=0.0.7098968
HEDERA_USDT_TOKEN_ID=0.0.7098970
HEDERA_RPC_URL=https://testnet.hashio.io/api
HEDERA_EVM_OPERATOR_ID=0.0.6987318
HEDERA_EVM_OPERATOR_PRIVATE_KEY=
VOLT_ESCROW_CONTRACT_ID=0.0.7045631
VOLT_ESCROW_EVM_ADDRESS=0x803A0eF8ef6732d281A90901a3C9B5fb21ee84C1
UPSTASH_REDIS_URL=
HEDERA_MIRROR_NODE_URL=https://testnet.mirrornode.hedera.com/api
WHATSAPP_TOKEN=
WHATSAPP_PHONE_ID=585552874640448
WHATSAPP_VERIFY_TOKEN=pmAuEo8mjEn97ca8JPow23rKslRB11Gg
WHATSAPP_APP_SECRET=
PRIVATE_KEY_PASSPHRASE=
WHATSAPP_PRIVATE_KEY=""
OPENAI_API_KEY=
PAYSTACK_BASE_URL=https://api.paystack.co
PAYSTACK_SECRET_KEY=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
