# VoltPay Backend API URL
NEXT_PUBLIC_BACKEND_URL=

# VoltEscrow Smart Contract Address (receives deposits)
NEXT_PUBLIC_ESCROW_EVM_ADDRESS=0x803A0eF8ef6732d281A90901a3C9B5fb21ee84C1

# Volt USD Token ID (stablecoin for purchases)
NEXT_PUBLIC_VUSD_TOKEN_ID=0.0.7029847

# WalletConnect Project ID
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

NEXT_PUBLIC_LOGO_URL=http://localhost:2020/logo.png


NEXT_PUBLIC_HEDERA_VUSD_TOKEN_ID=0.0.7029847


NEXT_PUBLIC_HEDERA_VUSD_EVM_ADDRESS=0x00000000000000000000000000000000006b4457

NEXT_PUBLIC_HEDERA_USDC_TOKEN_ID=0.0.7098968